@keyframes sky {
  0%,
  100% {
    background: rgba(255 255 255 / 0%);
  }
  50% {
    background: rgba(255 255 255 / 30%);
  }
}

@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pointer-appear {
  0% {
    display: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(50);
  }
  100% {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0) translateX(-50%);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px) translateX(-50%);
    transform-origin: top;
  }
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes curtain-drop {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-menu-fade-enter-active {
  transition: all 0.2s ease;
}
.nav-menu-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.nav-menu-fade-enter,
.nav-menu-fade-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}

.component-fade-enter-from,
.component-fade-leave-to {
  opacity: 0;
}

.instructions-fade-enter-active,
.instructions-fade-leave-active {
  transition: opacity 0.6s ease;
}

.instructions-fade-enter-from,
.instructions-fade-leave-to {
  opacity: 0;
}
