$mode: "dark"; // Set the theme mode here, can be 'dark' or 'light'

:root {
  --perspective: 1600px;
  --originHorizontal: 50%;
  --originVertical: 50%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  scroll-behavior: smooth;

  &.dark {
    --light: #fff6e8;
    --dark: #12151f;
    --dark-rgb: 18, 21, 31;
    --background: #151515;
    --typography: #e7e3e3;
    --typography-inverse: #343434;

    --primary: #23283a;
    --secondary: #a67263;
    --accent: chartreuse;
  }
  &.light {
    --light: #fff6e8;
    --dark: #22252e;
    --dark-rgb: 18, 21, 31;
    --background: smoke;
    --typography: #343434;
    --typography-inverse: #a5a5a5;

    --primary: #f5f5f5;
    --secondary: #6383a6;
    --accent: orange;
  }
}

body,
html {
  background: var(--background);
}
